@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;600;700&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: $token-fonts-content-desktop-family, sans-serif;
  background-color: var(--color-background);
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-xxl) var(--space-xl);
  .navbar-content {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.content {
  max-width: 1184px;
  margin: auto;
}

.row {
  display: grid;
  grid-template-columns: repeat($token-grids-desktop-count, minmax($token-grids-tablet-offset, $token-grids-desktop-offset));
}

[class*=col-] {
  box-sizing: border-box;
  float: left;
  width: 100%;
  padding: $token-spacers-m;
}

// .grid-screen {
//   overflow: hidden;
//   position: relative;
//   display: grid;
//   margin: 0 auto;
//   padding: 0 80px;
//   max-width: 1196px;
//   grid-template-columns: repeat(12, 1fr);
//   grid-column-gap: 20px;
//   grid-template-rows: minmax(100vh, 1fr);
// }

// .content {
//   grid-column: 1/13;
//   display: grid;
//   grid-template-columns: repeat(12, 1fr);
//   grid-column-gap: 20px;
//   align-self: center;
// }

@for $i from 1 through $token-grids-desktop-count {
  .col-#{$i} {
    grid-column: auto/span $i;
  }
}

input {
  width: 100%;
}

.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1, h2, h3 {
  font-family: $token-fonts-h-1-desktop-family, sans-serif;
}

h4 {
  font-family: $token-fonts-h-4-desktop-family, sans-serif;
}

h1 { 
  font-size: $token-fonts-h-1-desktop-size;
  font-weight: $token-fonts-h-1-desktop-weight;
}
h2 { 
  font-size: $token-fonts-h-2-desktop-size;
  font-weight: $token-fonts-h-2-desktop-weight;
}
h3 { 
  font-size: $token-fonts-h-3-desktop-size;
  font-weight: $token-fonts-h-3-desktop-weight;
}
h4 { 
  font-size: $token-fonts-h-4-desktop-size;
  font-weight: $token-fonts-h-4-desktop-weight;
}