@import '../build/web/tokens/colors';
@import '../build/web/tokens/grids';
@import '../build/web/tokens/spacers';
@import '../build/web/tokens/typography';

:root {
  --color-primary: #{$token-colors-coral};
  --color-background: #{$token-colors-puma};
  --space-xl: #{$token-spacers-xl};
  --space-xxl: #{$token-spacers-xxl};
}

@import 'main';