@import '../build/web/tokens/colors';
@import '../build/web/tokens/grids';
@import '../build/web/tokens/spacers';
@import '../build/web/tokens/typography';

@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: $token-fonts-content-desktop-family, sans-serif;
}

.content {
  max-width: 1184px;
  margin: auto;
}

.row {
  display: grid;
  grid-template-columns: repeat($token-grids-desktop-count, minmax($token-grids-tablet-offset, $token-grids-desktop-offset));
}

[class*=col-] {
  box-sizing: border-box;
  float: left;
  width: 100%;
}